<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head  th:replace="fragments/layout :: head('Login in Page')">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" th:replace="fragments/layout :: menu('customer')">
  </nav>
</div>
<div class="container">
  <div th:if="${param.error}">
    Invalid username and password.
  </div>
  <div th:if="${param.logout}">
    You have been logged out.
  </div>
  <div class="row justify-content-md-center">
    <form th:action="@{/login}" method="post">
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> Name</label>
        <div class="col-sm-auto"><input type="text" name="username" class="form-control"/></div>
      </div>
      <div class="form-group row">
        <label class="col-sm-3 col-form-label"> Password </label>
        <div class="col-sm-auto"><input type="password" name="password" class="form-control"/></div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small" th:replace="fragments/layout :: footer()"></footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>